* {
    margin: 0;
}

body {
    font-family: 'oswald', sans-serif;  
    margin: auto;
    max-width: 1200px;
}

h1 {
    font-weight: 300;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: clamp(24px, 4vw, 32px);
}
h3 {
    font-size: clamp(16px, 3vw, 26px)
}
p {
    font-size: clamp(13px, 2vw, 20px);
    color: black;
}

.fin {
    font-weight: 100;
}

header {
    background-color: #61787f ;
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 80%;
    margin: auto; 
    border: 1px solid black;
    margin-top: 30px;
    justify-content: center;
    align-content: center;
}

header h1 {
    color: white;
    align-content: center;
    justify-self: left;
}

header img {
    width: 127px;
    height: 94px;
    margin: 10px;
}

section {
    width: 80%;
    margin: auto;
    padding-bottom: 10px;
}

/*
* modifie les attributs du texte et des titres de 
* l'encadré meilleur film 
*/
.text h2 {
    margin-top: 0px;
    margin-bottom:0;
}

.text p {
    font-weight: lighter;
}

.button, .plus {
    background-color: #fa0b0b ;
    border-radius: 50px;
    padding: 15px 25px;
    color: white;
    border-width: 0; 
    margin-top: auto; 
}

/*
* met le menu déroulant sur la même ligne que le titre Autre.
* et rajoute de l'espace entre le menu et le texte
*/
.dropdown{
    display: inline-block;
    margin-right: 15px;   
}

.photo-hover {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 50%; 
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    padding: 15px;
}

.photo-hover p {
    color: white;
    margin-left: 10px;
    font-size: clamp(14px, 2vw, 28px);
}

.photo-hover .button {
    background-color: #2d2c2c;
    margin-left: auto;  
}

.grid-item:hover .photo-hover {
    display: flex;
    object-fit: cover;
}

/*
* gére l'espace entre l'IMDB score et le réalisateur dans la popup
*/
h3 + p {
    margin-top: 20px;
} 

.img {
    justify-self: end;
}

.bestMovies img {
    grid-area: item1;
    width: 100%;
    object-fit: cover;
}

.textItem , .imgItem2 {
    grid-area: item2;
}

.btnItem {
    grid-area: item3;
    justify-self: center;
    margin-left: 0;
}

.description {
    grid-area: item3;
    margin-bottom: 20px;
    max-width: 500px; 
    max-height: 400px;
    overflow-x: hidden
}
.distribution{
    grid-area: item4;
}

.bestMovies{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    border: 6px solid black;
    padding: 15px 15px 0px;
    gap: 15px;
    grid-template-areas:
      "item1 item2 item2"
      "item1 item4 item3"
      ;
}

.popup {
    background-color: white;
    padding: 10px;
    border: 3px solid black;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    grid-template-areas:
      "item1 item2"
      "item3 item3"
      "item4 item4"
      "textbtn textbtn";
  }

.popupBackground {
    display: none;
    position: absolute; 
    left: 50%;
    z-index: 1000; 
    width: 55%;
    max-width: 500px; 
    min-width: 300px;
    transform: translate(-50%, -50%);
}

.entete {
    display: grid;
    grid-template-columns: 1fr;
    grid-area: item1;
}
.entete h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: clamp(24px, 4vw, 36px);
    justify-content: left;
}

.textBtn{
    position: relative;
    left: 50%;
}
/* 
* permet d'afficher la popup
*/
.active {
    display: flex;
}

.grid {
    display: grid;
    gap: 20px; 
}

.grid-item {
    position: relative;
    max-height: 350px;
    display: flex; 
    border: 1px solid black;
    align-items: center;
    overflow: hidden;
}
/* 
* modification de la taille de l'image pour qu'elle
* occupe l'intégralité de la largeur de la grid-item
*/
.grid-item img {
    width: 100%;   
}
/* 
* masque les grid-items si il n'y a pas 
* 6 films à afficher dans la catégorie
*/
.hide {
    display: none;
}
/* desktop */
@media screen and (min-width: 769px) {
    
    /* 
    * grille d'affichage des affiches des films en mode desktop  
    * en 3 colonnes égales
    */
    .grid {
        grid-template-columns: 1fr 1fr 1fr; 
    }

    /* 
    * masque le bouton émoticônes  
    * en mode desktop
    */
    .btn{
        display: none;
    }
} 
/* tablette */
@media screen and (max-width: 768px) {
    
    /* 
    * grille d'affichage des affiches des films en mode tablette  
    * en 2 colonnes égales
    */
    .grid {
        grid-template-columns: 1fr 1fr; 
    }
    
    /* 
    * affiche et positionne le bouton émoticônes 
    * pour fermer la popup en mode tablette et mobile
    */
    .btn {
        position: absolute;
        right: 15px;
        top: 15px;
        background-color: rgba(255, 255, 255, 0);
        border: none;
        font-size: 1.5em;
    }

    /* Masque le bouton "fermer" de la popup en mode tablette et mobile */
    .textBtn {
        display: none;
    }

    /* 
    * masque les grid-item en mode tablette  
    * pour afficher 4 élements sur les 6
    */
    .tablette{
        display: none;
    }

    /* affiche le bouton "voir plus" en mode tablette en mobile*/
    .plus {
        margin: auto;
        margin-top: 20px;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 1em;
        display: flex;
    }

    /* 
    * grille de la popup en mode tablette et mobile  
    * disposition en 1 colonne 
    * avec inversion de la description et de l'image
    */
    .popup {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
          "item1" 
          "item3"
          "item2"
          "item4";
    }
    /* 
    * modification de la taille de l'image pour qu'elle
    * occupe l'intégralité de la largeur de la popup
    */
    .img {
        width: 100%;
    }

    /* 
    * masque le bouton "result" ou "voir plus"
    * en mode tablette si toutes les images de la catégorie sont 
    * déjà affichées (moins de 4 élements à afficher sur la page)
    */
    .tablette-useless{
        display: none;
    }
}
/* mobile */ 
@media screen and (max-width: 455px) {
   
    /* 
    * passage du display de grid à flex pour centrer l'image
    */
    header {
        display: flex;
    }
    /* 
    * masque le titre du header en mode mobile
    */
    header h1 {
        display: none;
    }
    /* 
    * passage du display de block à flex puis centrage du texte
    */
    h2{
        display: flex;
        justify-content: center;
    }
    
    /* 
    * grille d'affichage des affiches des films en mode mobile  
    * passage à une colonne
    */
    .grid {
        grid-template-columns: 1fr;
        margin: auto;
    }

    /* 
    * masque les grids en mode mobile  
    * pour afficher 2 élements sur les 6
    */
    .mobile{
        display:none;
    }
    
    /* 
    * modification de la grille d'affichage de la section bestMovies 
    * en mode mobile en 1 colonne
    */
    .bestMovies{
        grid-template-columns: 1fr;
        grid-template-areas:
          "item1" 
          "item2" 
          "item3";
        margin: auto;
        padding-bottom: 15px;
    } 
    /* affiche le bouton "result" en mode mobile si le mode tablette n'en a pas besoin*/
    .tablette-useless{
        display: flex;
    }
    /* masque le bouton "result" en mode mobile*/
    .mobile-useless{
        display: none;
    } 
}